@font-face {
  font-family: "iconfont"; /* Project id 4663353 */
  src:
    url("//at.alicdn.com/t/c/font_4663353_sz42cmivcxp.woff2?t=1725250678237") format("woff2"),
    url("//at.alicdn.com/t/c/font_4663353_sz42cmivcxp.woff?t=1725250678237") format("woff"),
    url("//at.alicdn.com/t/c/font_4663353_sz42cmivcxp.ttf?t=1725250678237") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lowcode:before {
  content: "\ed2b";
}

.icon-aigc:before {
  content: "\e813";
}

.icon-codeEditor:before {
  content: "\e64e";
}

.icon-workflow:before {
  content: "\e743";
}

.icon-add:before {
  content: "\e687";
}

.icon-down:before {
  content: "\e87e";
}

.icon-send:before {
  content: "\e857";
}

.icon-adjustments:before {
  content: "\e60e";
}

.icon-ellipsis:before {
  content: "\e64f";
}

.icon-setting:before {
  content: "\e660";
}

.icon-robot:before {
  content: "\e9a3";
}

.icon-github:before {
  content: "\e72a";
}

.icon-sun:before {
  content: "\e789";
}

.icon-right-arrow:before {
  content: "\e620";
}

.icon-moon:before {
  content: "\e68a";
}

.icon-chatbot:before {
  content: "\e600";
}
